html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #c5ebe8;
}

button {
  background-color: #4db6ac;
  border: 0;
  font-weight: bold;
  color: #00695c;
  padding: .8rem;
  cursor: pointer;
  border-radius: 10px;
  transition: .2s;
  width: fit-content;
}

button:hover {
  background-color: #26a69a;
  color: #004d40;
  border-radius: 15px;
}

a:-webkit-any-link {
  color: unset;
  text-decoration: none!important;
}

.input {
  background-color: #80cbc4;
  border: 0;
  font-weight: bold;
  color: #004d40;
  border-radius: 10px;
  transition: .2s;
  padding: 1rem;
  outline: none;
  font-size: 1.1rem;
  line-height: normal;
}

.input:focus {
  border-radius: 20px;
}

.input::placeholder {
  color: #009688;
}